<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ququplay.speechplugin"
    version="0.1.4">

    <name>SpeechPlugin</name>
    <description>
        Speech Plugin
    </description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/SpeechPlugin.js">
       <clobbers target="SpeechPlugin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="SpeechPlugin" string="SpeechPlugin" />

        <config-file target="config.xml" parent="/*">
            <feature name="SpeechPlugin">
                <param name="ios-package" value="SpeechPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/SpeechPlugin.h" />
        <source-file src="src/ios/SpeechPlugin.m" />
    </platform>
</plugin>